# Ignore the files for git

# All the python compiled
*.pyc
*.png
.project
.pydevproject
ses
dfiles

# The compiled mod of NEURON
mod/x86_64
mod/i686

# The directory with the Sims
Sims

# The building dir for cython
build
