# Ignore the files for git

# All the python compiled
*.pyc
*.png
.project
.pydevproject
ses
dfiles

# The compiled mod of NEURON
mod/x86_64
mod/i686

# The directory with the Sims
Sims
Data

# The building dir for cython
build

# Settings eclipse
.settings

# Sumatra
.smt

# Mount point remote data
Data_rmt
